name: Build

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven
      - name: Build
        run: ./mvnw -DskipTests package
      - name: Upload Jar
        uses: actions/upload-artifact@v4
        with:
          name: JMusicBot
          path: |
            target/*-All.jar
            target/*.jar
