name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven
      - name: Make mvnw executable
        run: chmod +x ./mvnw
      - name: Build
        run: ./mvnw -DskipTests package
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            target/*-All.jar
